<div ng-controller="AccordionCtrl">
    <div style="padding-top: 10px;">
        <uib-accordion close-others="oneAtTime" class="nav" style="line-height: 30px;">
            <uib-accordion-group heading="模块(ui.bootstrap)案例页面" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled" style="background-color: #f5f5f5;">
                <li><a href="#/common/carousel"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>图片循环展示墙</a></li>
                <li><a href="#/common/datePicker"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>日期获取控件</a></li>
                <li><a href="#/common/dropDown"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>下拉列表式按钮</a></li>
                <li><a href="#/common/pagination"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>分页按钮样式</a></li>
                <li><a href="#/common/typeAhead"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>输入框下拉列表</a></li>
                <li><a href="#/common/tabs"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>标签式导航栏</a></li>
            </uib-accordion-group>
            <uib-accordion-group heading="其他模块案例页面" is-open="status.openFirst" style="background-color: #f5f5f5;">
                <li><a href="#/modules/calendar"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>日历显示页面</a></li>
                <li><a href="#/modules/masonry"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>Masonry瀑布流布局</a></li>
                <li><a href="#/modules/loveAnimation"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>浪漫爱心表白动画</a></li>
                <li><a href="#/modules/accordionMenu"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>jQuery手风琴竖向菜单</a></li>
                <li><a href="#/modules/loveAnimation-jQuery"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>jQuery爱心表白动画</a></li>
                <li><a href="#/common/tabs"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>标签式导航栏</a></li>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.openSecond" style="background-color: #f5f5f5;">
                <uib-accordion-heading>个人制作案例展示</uib-accordion-heading>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>动态表格展示</a></li>
                <li><a href="#/personal/goodsFilter"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>商品动态筛选</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
                <li><a href="#/personal/gridShow"><i class="fa fa-caret-right"></i><span class="col-sm-offset-1"></span>测试页面</a></li>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>