<div class="page page-table" ng-controller="GoodsFilterCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 动态表格 </strong></div>
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 动态筛选条件 </strong>&nbsp;&nbsp;
                    <a href="javascript:;" ng-click="listFilter()">取消筛选</a></div>
                <div class="panel-body">
                    <div class="table-filters" style="margin-left: 15px;">
                        <div class="row">
                            <label>价格:</label>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('price', 0, 30)">0-30区间</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('price', 31, 100)">31-100区间</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('price', 101, 300)">101-300区间</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('price', 301)">301以上</a>&nbsp;&nbsp;
                        </div>
                        <div class="row">
                            <label>销量:</label>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('sales', 0, 100)">0-100区间</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('sales', 101, 500)">101-500区间</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="listFilter('sales', 501, 20000)">501以上</a>&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> 动态筛选结果 </strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3" style="padding-right:0px;margin-right:-100px;">
                            <label>按条件排序:</label>&nbsp;&nbsp;
                            <button class="btn btn-primary" data-ng-click="order('name')">名称</button>
                            <button class="btn btn-primary" data-ng-click="order('price')">价格</button>
                            <button class="btn btn-primary" data-ng-click="order('sales')">销量</button>
                        </div>
                        <div class="col-md-3 form-inline">
                            <label>按条件搜索:</label>&nbsp;&nbsp;
                            <input type="text" placeholder="search" class="form-control"
                                   data-ng-model="searchKeywords" data-ng-keyup="search()">

                        </div>
                    </div>
                    <table class="table table-bordered table-striped table-responsive">
                        <tr>
                            <th>商店名称</th>
                            <th>价格</th>
                            <th>卖出数量(30天内)</th>
                            <th>比率</th>
                        </tr>
                        <tr ng-repeat="item in filterProducts">
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.sales}}</td>
                            <td>{{item.rating}}</td>
                        </tr>
                    </table>
                    <list-pagination conf="paginationConf"></list-pagination>
                </div>
            </div>
        </div>
    </section>
</div>